/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --first-color: #ffffff;
  --first-color-alt: #ffffff;
  --title-color: #ffffff;
  --text-color: #ffffff;
  --text-color-light: #ffffff;
  --body-color: #000000;
  --container-color: #FFFFFF;

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes ==========*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 768px){
  :root{
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*========== BASE ==========*/
*,::before,::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

/*========== Variables Dark theme ==========*/
body.dark-theme{
  --title-color: #ffffff;
  --text-color: #ffffff;
  --body-color: #000000;
  --container-color: #ffffff;
}

/*========== Button Dark/Light ==========*/
.change-theme{
  position: absolute;
  right: 1rem;
  top: 1.8rem;
  color: var(--text-color);
  font-size: 1rem;
  cursor: pointer;
}

body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}

h1,h2,h3,p,ul{
  margin: 0;
}

ul{
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

/*========== CLASS CSS ==========*/
.section{
  padding: 4rem 0 2rem;
}

.section-title, .section-subtitle{
  text-align: center;
}

.section-title{
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-3);
}

.port{
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin-bottom: -4rem;
  margin-top: 4rem;
  text-align: center;
}

.section-subtitle{
  display: block;
  color: var(--first-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
}

/*========== LAYOUT ==========*/
.bd-container{
  /* max-width: 960px; */
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.bd-grid{
  display: grid;
  gap: 1.5rem;
}

.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/* === Scroll Bar ==== */
::-webkit-scrollbar{
  width: 3px;
}
::-webkit-scrollbar-track{
  background: gray;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb{
  background-color: black;
  border-radius: 0px;
}

::-webkit-scrollbar-track-piece:vertical:end{
  background: rgb(0, 0, 0);
}

/*========== NAV ==========*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2rem;
}

@media screen and (max-width: 768px){
  .nav__menu{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 1.5rem 0 1rem;
    text-align: center;
    background-color: var(--body-color);
    transition: .4s;
    box-shadow: 0 4px 4px rgba(0,0,0,.1);
    border-radius: 0 0 1rem 1rem;
    z-index: var(--z-fixed);
  }
}

.bx-menu{
  margin-right: 1rem;
}

.nav__item{
  margin-bottom: var(--mb-2);
}

.nav__link, .nav__logo, .nav__toggle{
  color: var(--text-color);
  font-weight: var(--font-semi-bold);
}
.nav__logo{
  width: 400px;
  font-weight: var(--font-semi-bold);
}
.nav__logo:hover{
  color: var(--first-color);
}

.nav__link{
  transition: .3s;
}

.nav__link:hover{
  color: #857e75;
}

.nav__toggle{
  font-size: 1.3rem;
  cursor: pointer;
}

/* Show menu */
.show-menu{
  top: var(--header-height);
}

/* Active menu */
.active-link{
  color: gray;
}

/* ======Change background header =======*/
.scroll-header{
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

/* =======Scroll top ====== */
.scrolltop{
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3rem;
  background: gray;
  border-radius: .4rem;
  z-index: var(--z-tooltip);
  transition: .4s;
  visibility: hidden;
}

.scrolltop:hover{
  background-color: var(--first-color-alt);
}

.scrolltop__icon{
  font-size: 1.8rem;
  color: var(--body-color);
}

/* Show scrolltop */
.show-scroll{
  visibility: visible;
  bottom: 1.5rem;
}

/*========== HOME ==========*/
.home{
  background-position: right, left;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 3rem;
}

#myVideo {
  width: 100%;
  pointer-events: none;
}
@media screen and (max-width: 960px){
.home2{
  position: relative;
  background: black;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  top: -1; 
}

.home__content{
  position: relative;
  font-size: 2.5em;
  font-weight: 900;
  z-index: 1;
  color: gray;
  overflow: hidden;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
  line-height: 0.75em;
  outline: none;
  animation: animate 4s linear infinite;
}

@keyframes animate{
  0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92%{
    color: #082027;
    text-shadow: none;
  }
  18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100%{
    color: #FFF;
    box-shadow: 0 0 10px gray,
                0 0 20px gray,
                0 0 40px gray,
                0 0 80px gray,
                0 0 160px gray,
                ;
  }
}

.contact__form{
  margin-left: 2rem;
  margin-right: 2rem;
}
}
/* .home__content::before{
  content: '';
  position: absolute;
  left: 120%;
  width: 120%;
  height: 100%;
  background: linear-gradient(90deg,transparent 0%, #000 5%, #000 100%);
  animation: animate 5.5s linear forwards;
} */

/* @keyframes animate{
  0%{
    left: 110%;
  }
  100%{
    left: -20%;
  }
} */
/* 
.home__content span{
  color: #ff022c;
} */
  /* .centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    font-weight: 580px;
    opacity: 0;
    z-index: 1;
  }
  #myVideo {
    width: 100%;
    pointer-events: none;
    z-index: -1;
    opacity: 0;
  }


  .home__container{
    height: calc(100vh - var(--header-height));
    align-content: center;
  }

  .home__title{
    font-size: var(--biggest-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-1);
    margin-left: 120px;
    margin-top: -10rem;
  }

  .home__subtitle{
    font-size: var(--h3-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-4);
    margin-left: 190px;
  }

  .home__img{
    width: 300px;
    justify-self: center;
  }

  .home__button{
    margin-left: 190px;
    display: inline-block;
    background-color: var(--first-color);
    color: #FFF;
    padding: .75rem 1rem;
    border-radius: .5rem;
    transition: .3s;
  } */

/* .changeclr{
  color: transparent;
  animation: effect1 3s linear infinite;
}

@keyframes effect1 {
  0% {
      background: linear-gradient(
              #ffffff, #00ff00);
      -webkit-background-clip: text;
  }

  33%{
    background: linear-gradient(rgba(245, 212, 212, 0.541),rgba(255, 63, 63, 0.76));
    -webkit-background-clip: text;
    opacity: 0.8;
  }

  66%{
    background: linear-gradient(rgb(182, 235, 85),rgb(0, 255, 255));
    -webkit-background-clip: text;
    opacity: 0.6;
  }

  100% {
      background: linear-gradient(#3e53c969, #3441f0a8);
      -webkit-background-clip: text;
      opacity: 0.4;
  }
} */

/*========== BUTTONS ==========*/
.button{
  display: inline-block;
  background-color: #857e75;
  color: #FFF;
  padding: .75rem 1rem;
  border-radius: .5rem;
  transition: .3s;
}

.button:hover{
  background-color: rgb(88, 88, 88);
}

#myBtn, #myBtn1, #myBtn2, #myBtn3, #myBtn4, #myBtn5, #myBtn6, #myBtn7, #myBtn8, #myBtn9, #myBtn10, #myBtn11, #myBtn12:hover{
  cursor: pointer;
}


/*========== ABOUT ==========*/
.about__data{
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

.about__img{
  width: 280px;
  border-radius: .5rem;
  justify-self: center;
}

.about__center div {
    display: inline-block;
    display: -moz-inline-box;
    *display: inline; /* For IE7 */
    zoom: 1; /* Trigger hasLayout */
    width: 33%;
    text-align: center;
    /* text-transform: lowercase; */
}


/*========== SERVICES ==========*/
#more, #more1, #more2, #more3, #more4, #more5, #more6, #more7, #more8, #more9, #more10, #more11, #more12{
  display: none;
}

.services__container{
  row-gap: 2.5rem;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 0.5rem;
  margin-left: 1rem;
}

.services__content{
  text-align: center;
}

.services__description{
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.services__img{
  width: 64px;
  height: 64px;
  fill: var(--first-color);
  margin-bottom: var(--mb-2);
  justify-content: center;
}

.services__title{
  font-size: var(--h3-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-1);
}

.services__description{
  padding: 0 0rem;
  color: var(--first-color-alt);
}

/* Slick Slider */
.slick-slide{
  margin: 0px 10px;
}

.slick-slide img{
  width: 100%;
}

.slide1 img{
  width: 70%;
  height: 70%;
  margin-left: 1.5rem;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.slide1:hover img{
  filter: grayscale(0);
  transition: 0.5s;
}

.slide{
  position: relative;
}

.slide img{
  color: #857e75;
  filter: grayscale(100%);
}

.slide:hover img{
  filter: grayscale(0);
  transition: 1s ease;
}
.slide:hover{
  background: #000000;
  transition: 0.5s;
}

.img__img{
  display: block;
  width: 100%;
}

/* .img__img:hover{
  transform: scale(1.1);
  transition: 0.5s;
} */

/* .image__overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  color: #FFF;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s;
  filter: grayscale(100%);
} */

/* .image__overlay:hover{
  opacity: 1;
} */

/* .image__title{
  font-size: 2em;
} */



/*========== CONTACT ==========*/
.contact__description{
  margin-bottom: var(--mb-3);
}

.contact__input{
  width: 100%;
  padding: 1rem;
  outline: none;
  border: none;
  background-color: rgb(250, 250, 250);
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-2);
  border-radius: .5rem;
}

.contact ::placeholder{
  color: var(--first-color-dark);
  font-family: var(--body-font);
  font-weight: var(--font-medium);
  /* opacity: 0.6; */
}

select{
  color: #000000;
  font-family: var(--body-font);
  font-weight: var(--font-medium);
}

.contact__button{
  outline: none;
  border: none;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  cursor: pointer;
}

.contact__info{
  margin-bottom: var(--mb-3);
}

.contact__text{
  display: block;
  padding-left: 1rem;
}

.contact__subtitle{
  font-size: var(--h3-font-size);
  color: var(--first-color-dark);
  margin-bottom: var(--mb-1);
}
.submit{
  text-align: center;
}
.address{
  color: gray;
}

.address:hover{
  color: white;
}

/*========== FOOTER ==========*/
.footer__container{
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 2rem;
  margin-left: 2rem;
}

.footer__logo{
  font-size: var(--h3-font-size);
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
}

.footer__description{
  display: block;
  font-size: var(--small-font-size);
  margin: .25rem 0 var(--mb-3);
}

.footer__social{
  font-size: 1.5rem;
  color: var(--title-color);
  margin-right: var(--mb-2);
}

.footer__social:hover{
  color: gray;
}

.footer__title{
  font-size: var(--h2-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-2);
}

.footer__link{
  display: inline-block;
  color: var(--text-color);
  margin-bottom: var(--mb-1);
}

.footer__link:hover{
  color: var(--first-color);
}

.footer__copy{
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-top: 3.5rem;
}

/*========== MEDIA QUERIES ==========*/
@media screen and (min-width: 1000px){
  .contact__container1, .contact__initial{
    text-align: center;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
  }
  .contact__container2, .contact__initial{
    text-align: center;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
  }

  .contact__button{
    justify-self: center;
  }

  .contact__grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}
@media screen and (max-width: 68px){
  .contact__container1, .contact__initial{
    text-align: center;
    margin-left: 3rem;
    margin-right: 3rem;
  }

}
@media screen and (min-width: 768px){
  body{
    margin: 0;
  }

  .nav{
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list{
    display: flex;
  }
  .nav__item{
    margin-left: var(--mb-5);
    margin-bottom: 0;
  }
  .nav__toggle{
    display: none;
  }

  .change-theme{
    position: initial;
    margin-left: var(--mb-2);
  }

  .home__container{
    height: 100vh;
    justify-items: center;
  }

  .services__container,
  .menu__container{
    margin-top: var(--mb-6);
  }

  .menu__container{
    grid-template-columns: repeat(4, 210px);
    column-gap: 4rem;
  }
  .menu__content{
    padding: 1.5rem;
  }
  .menu__img{
    width: 130px;
    pointer-events: none;
  }
  .contact__info{
    padding-left: 3rem;
  }
  
}

@media screen and (min-width: 960px){

  .home__img{
    width: 500px;
  }

  .about__container{
    column-gap: 0rem;
  }

  .footer__container{
    margin-left: 6rem;
  }

  .services__container{
    padding-left: 4rem;
    padding-right: 6rem;
    column-gap: 10rem;
  }

  .services__content1{
    padding-left: 29rem;
    padding-right: 29rem;
  }

  .home2{
    /* background-position: right, left;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 3rem;
    position: relative;
    background: black;
    z-index: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
  }
  
  .home__content{
    position: relative;
    font-size: 7em;
    font-weight: 900;
    z-index: 1;
    color: gray;
    overflow: hidden;
    /* width: 100%; */
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
    line-height: 0.75em;
    outline: none;
    animation: animate 4s linear infinite;
  }
  
  @keyframes animate{
    0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92%{
      color: rgb(99, 99, 99);
      text-shadow: none;
    }
    18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100%{
      color: #FFF;
      box-shadow: 0 0 10px rgb(99, 99, 99),
                  0 0 20px rgb(95, 95, 95),
                  0 0 40px rgb(68, 68, 68),
                  0 0 80px rgb(73, 73, 73),
                  0 0 160px rgb(77, 76, 76),
                  ;
    }
  }
  
}

@media screen and (max-height: 570px){
  .contact__form{
    margin-left: 1rem;
    margin-right: 1rem;
  }
}


/* For tall screens on mobiles y desktop*/
@media screen and (min-height: 721px) {
    .home__container {
        height: 640px;
    }
}